.panel-dark{
    border:0px solid #eee !important;
    border-bottom:0px solid #d1d2d3 !important;
}

.panel-body-dark table{
    background-color: #262a34 !important;
    border: none !important;
}

.panel-body-dark td{
    border-top-width: 0px !important;
    padding: 1px !important;
}

.panel-body-dark .table > thead > tr > th{
    border-bottom-width: 0px !important;
    padding: 1px !important;
}

.leagueplayer tbody{
    font-size:16px;
}

.leagueplayer tbody .team{
    font-weight: bold;
}

.leagueplayer tbody tr:nth-child(even){
    background: #293039;
    color:#D6D7DE;    
}

.leagueplayer tbody tr:nth-child(odd){
    background: #212831; 
    color:#D6D7DE;
}