/*TODO: CLEAN THIS UP*/

/*TOP NAV HEADER*/
.top-nav-header{
    background-color:white !important;
    width:550px !important;
    color: #2b303c !important;

}

.top-nav-header .top-nav-content{    
    padding-top: 3px !important;
    padding-left: 5px !important;
    float: left;
}

.top-nav-header .top-nav-content .ddown{    
    background-color: white;
    color: #2b303c !important;
    padding: 1px 15px 1px 15px !important;
    min-height: 35px;
    letter-spacing: 1px;
}

/*END TOP NAV HEADER*/



/*PANELS*/
.panel-dark{
    border: 0px solid #eee !important;
    border-bottom: 0px solid !important;
}

.panel-body-dark{
    padding: 5px !important;
    border-width:0px !important;
    background-color: #262a34!important;
}
/*END PANELS*/

/*UPPER RIGHT HAND NAV*/

.eth-fmt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 230px !important;
    float: left;
}

/*MENU ITEMS*/
.menu-items{
    cursor: pointer;
    
}

.menu-items li{
    padding:10px !important;
}

.menu-item{
    font-size: 20px;    
}

.menu-item .fas{
    padding-right: 5px;
}

#bet-menu-icon{
    color: white; 
    display: none;
}
/*END MENU ITEMS*/

/*MAIN LINES*/

#btnPlaceOrder{
    display: none;
}

.ml-header{
    background-color:#2b303c !important;
    border-bottom-width: 0px !important;
    padding-top:3px !important;
    padding-bottom:3px !important;
}

.ml-header .ml-header-txt{
    color:white;
    font-weight:bold;    
}

.ml-header .ml-header-tkr{
    color:white;
    font-weight:bold;
    font-size:20px;
}

.gains {
    color:#6ecc5b !important;
}

.gains a {
    color:#6ecc5b !important;
}

.losses {
    color:#DE514A !important;
}

.losses a {
    color:#DE514A !important;
}

.last-price{
    color:white;
    font-size:14px;
    background: #293039 !important;    
    font-weight: bold;
}

.last-price tr td:first-child{
    padding-left:11px !important;
}

.ml-sub-header{
    margin: 0;
    line-height: 25px;
    font-size: .8em;
    font-weight: 700;
    text-transform: capitalize;
    background-color: #53565e;
    width: 100%; /* or whatever */
    overflow: hidden;
    white-space: nowrap;
    color:#cccccc;
}

.ml-sub-header-cols{
    width:100%;
}

.ml-date{
    color: #53565f;
    background-color: #DDDDDD;
    border-bottom: 1px solid #B8B8B8;
    font-size: 11px;
    padding: 1px 0 1px 15px;
    font-weight:bold;
}

.ml-event{
    padding-top:5px;
    padding-bottom:5px;
    cursor: pointer;
}

.btn-bet{    
    float:right;
    max-width: 50px;
    margin-right: 50px;
}

.btn-ou{
    float:right;
    margin-right: 2px;
}

.column{
    display: inline-block;
}

.column .team-line{
    width:15%;
    text-align:center;
}

.column .team-spread{
    width:40%;
    margin-left: 5px;
}

.column .team-spread-table table td{
    font-size:12px !important;
}
  

.column .team-title{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 0 0 0 0;
    color: #53565f !important;
    white-space: nowrap;
}

.team-spread-tbl {
    border-collapse: collapse;
    font-size:12px;
    width: 100%;
}

.team-spread-tbl thead {
    visibility: hidden;
}
  
.team-spread-tbl td {
    border: 1px solid #ddd;
    padding: 2px;
}
  
.team-spread-tbl tr:nth-child(even){background-color: #f2f2f2;}

/*END MAIN LINES*/

.card {
    border-radius: 4px;
    background-color: #3d3d3d;
    color:white;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%; 
}

.card-banner {
    border-radius: 4px;
    background-color: #3d3d3d;
    background: rgb(0, 0, 0); /* Fallback */
    background: rgba(0,0,0, 0.4);
}

.cards{
    cursor: pointer;
}

/*https://www.flaticon.com/authors/darius-dan*/
.cards .football{
    background-image: url('../images/stock1_card.jpg');
}

.cards .baseball{
    background-image: url('../images/stock2_card.jpg');
}

.cards .basketball{
    background-image: url('../images/stock3_card.jpg');
}

.cards .hockey{
    background-image: url('../images/stock4_card.jpg');
}

.cards .soccer{
    background-image: url('../images/stock5_card.jpg');
}

.cards .owl-carousel .item {
    height: 15rem;
    /*padding: 1rem;*/
}

.cards .owl-carousel .item h4 {
    font-size:30px !important;
}

.card-selected{
    background-color: #495264;
}

.stat-card{
    padding:6px;
    cursor:pointer;
}

.stat-time{
    background-color: #ffbd4a; 
    color:white;
    padding-left:5px;
    padding-right:3px; 
    font-size:12px;
    border-radius: 4px 4px 0px 0px;
}

.stat-game{
    color:white; 
    background-color:#576076;
    padding:5px;
    font-size:16px;
    border-radius: 0px 0px 4px 4px;
    border-bottom: 4px solid #3d4556;
}

.stat-game-selected{
    background-color:#7e8cac !important;
    border-bottom: 4px solid #7e8cac !important;
}

.stat-spread {
    font-weight: bold;
}

.spread-title {
    font-weight: bold;    
}

/*LEFT-SIDE FORMS*/
.bal-but:hover{
    background-color: transparent;
}

.bal-but:focus {
    background: transparent;
}

.dark .drop-drk{
    background-color: #232323;
    border: 2px solid #232323; 
}

.dark .control-label{
    color:#D5D6D8 !important;
}

.dark input {
    background-color: #232323;
    border: 2px solid #232323;
    color: white;
}

.dark select{
    background-color: #232323;
    border: 2px solid #232323;
    color: #D5D6D8;
}

.dark .input-group-addon{
    background-color: #4B4F52!important;
    border: 2px solid #232323!important;
    color:#D5D6D8 !important;
}

.team-title{
    color:#D5D6D8 !important;
    font-size:18px;
    font-weight: bold;
}

.team-title a{
    color:#D5D6D8 !important;
    font-size:16px;
    font-weight: bold;
    cursor: pointer;
    padding-left:3px;
}

.symbol{
    font-size:24px;
    font-weight: bold;
    color:#ffc107;
}

.quote{
    color:white;
    font-size:24px;
    font-weight: bold;
    padding-bottom:5px;
}

.quote span{
    font-size:16px !important;
}

.slider{
    width: 85%;
}

.slider .tooltip{
    display:none!important;
}

.slider.slider-horizontal .slider-track{
    height: 0px; 
    margin-top: 0px; 
}

.slider.slider-horizontal .slider-handle {
    margin-top: -10px; 
}

.order-type{
    cursor: pointer;
}

.order-type a{
    text-decoration: none;
}

.order-type a:hover { 
    background-color: #428bca;
    color:white;
}

/*END LEFT-SIDE FORMS*/

.p-b-5 { padding-bottom: 5px !important; }

.input-group-addon {
    min-width:45px !important;
    text-align:left !important;
}

/*MODAL LOGIN*/
#loginModal{
    top:30px;
}

#loginModal .modal-content{
    text-align:center;
    background-color: transparent;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border: 0px solid;
}

#loginModal .modal-header{
    border: 0px solid;
}

#loginModal .modal-body{
    padding:0px;
}

#loginModal .modal-title{
    line-height: 1;
}

#loginModal .modal-form{
    margin-right: 25%; 
    margin-left:25%;
}
/*END MODAL LOGIN*/

/*MODAL SPLASH*/
.card-bdr {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    margin:8px;
    padding:3px;
    text-align: center;
    cursor: pointer;
}

.card-bdr i{
    padding:10px;
}

.flex-container {
    display: flex;
}

.space-evenly { 
    justify-content: space-evenly; 
}

.fnt-icn{
    font-size:50px;
}

.fnt-txt{
    font-size:25px;
}
/*MODAL SPLASH*/

/* MODAL PREVIEW ORDER */
.vertical-alignment-helper {
    display:table;
    height: 100%;
    margin-right: 25%; 
    margin-left:25%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
/* END MODAL PREVIEW ORDER */

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    margin:0px 5px;
  }
/*END MODAL LOGIN*/



/*ANIMATION*/

@-webkit-keyframes newsell {
    from { background-color: #DE514A; }
    to { background-color: #262a34; }
  }
  @-moz-keyframes newsell {
    from { background-color: #DE514A; }
    to { background-color: #262a34; }
  }
  @-o-keyframes newsell {
    from { background-color: #DE514A; }
    to { background-color: #262a34; }
  }
  @keyframes newsell {
    from { background-color: #DE514A; }
    to { background-color: #262a34; }
  }
  .newsell {
    -webkit-animation: newsell 1s ; /* Safari 4+ */
    -moz-animation:    newsell 1s ; /* Fx 5+ */
    -o-animation:      newsell 1s ; /* Opera 12+ */
    animation:         newsell 1s ; /* IE 10+ */
  }

  @-webkit-keyframes newbuy {
    from { background-color: #6ecc5b; }
    to { background-color: #262a34; }
  }
  @-moz-keyframes newbuy {
    from { background-color: #6ecc5b; }
    to { background-color: #262a34; }
  }
  @-o-keyframes newbuy {
    from { background-color: #6ecc5b; }
    to { background-color: #262a34; }
  }
  @keyframes newbuy {
    from { background-color: #6ecc5b; }
    to { background-color: #262a34; }
  }
  .newbuy {
    -webkit-animation: newbuy 1s ; /* Safari 4+ */
    -moz-animation:    newbuy 1s ; /* Fx 5+ */
    -o-animation:      newbuy 1s ; /* Opera 12+ */
    animation:         newbuy 1s ; /* IE 10+ */
  }

.spin {
    animation: spinner 2s infinite linear;
}

@keyframes spinner {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

