@media only screen and (max-width: 767px) {
    /*html {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }*/
    .main-content {
        padding-top:65px !important;
    }

    .cards{
        padding-top:40px !important;
    }
    .rt-side-bant{
        display: none !important;
    }

    /*MAIN LINES*/
    .team-place{
        display:none;
    }

    .team-title::after{
        content: "\A";
        white-space: pre;
    }

    .team-line{
        float: right;
    }

    #btnPlaceOrder{
        display: block;
    }

    .btn-bet{
        float:left;
        margin-right: 3px !important;
    }

    .btn-ou{
        float:left;
        margin-right: 3px!important;
    }
    
    /*END MAIN LINES*/

    .top-nav-header{
        display: none; 
    }

    .navbar-header{ 
        height: 0px;       
    }
    .nav-wrapper{
        border-top: 5px solid black;
    }
    .navbar-default{
        background-color: black;
    }  
    .wrapper>.aside {
        margin-top: 54px;
    }
    .navbar-default .navbar-nav > li > a {
        color: white;
    }
    #bet-menu-icon{
        color: white; 
        display: none;
    }
}
